body {
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#preview img,
#originalImage,
#processedImage {
    max-width: 100%;
    max-height: 300px;  /* Adjust this value as needed */
    width: auto;
    height: auto;
    margin-top: 10px;
}

.upload-area {
    background-color: #1e1e1e;
    border: 2px dashed #6c757d;
    border-radius: 8px;
    padding: 20px;
}

.upload-area img,
#originalImage,
#processedImage  {
    display: block;
    margin: 0 auto;
    object-fit: contain; /* This ensures the image is resized without distortion */
}

.upload-area:hover {
    border-color: #007bff;
}

.upload-area input {
    display: none;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#resultSection img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#resultSection {
    margin-top: 40px;
}

#downloadBtn {
    border-radius: 20px;
}

#removeBtn {
    margin-top: 20px;
}


/* Responsiveness */
@media (max-width: 768px) {
    #preview img, #originalImage, #processedImage {
        max-height: 200px;
    }

    #downloadBtn {
        padding: 10px 20px;
    }
}